.container {    
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
}

.header {
/*    grid-column-start: 1;
    grid-column-end: 12;*/

    /* Shorthand */
    /*grid-column: 1 / 12;*/

    /* upto Last column line */
    grid-column: 3 / -1;
}

.menu {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.content {
    grid-column: 3 / -1;
}

.footer {
    grid-column: 1 / -1;
}
